@use 'src/styles/mixins';

.container {
    >h1 {
        font-size: 80px;

        @include mixins.tablet {
            font-size: 60px;
        }

        @include mixins.phone {
            font-size: 40px;
        }
    }
}