:root {

  // colors
  --include-purple: #3C257E;
  --purple-gradient: linear-gradient(46deg, #332950 0%, #3C257E 48.96%, #322D41 100%);

  // spacers
  --spacer: 48px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}