@use "src/styles/mixins";

:root {
  // colors
  --include-purple: #3c257e;
  --text-black-dark: #000;
  --text-black-light: #414141;
  --text-white: #fff;
  --text-grey: #d0d0d0;
  --purple-gradient: linear-gradient(
    68deg,
    #332950 10.09%,
    #3c257e 50.92%,
    #322d41 93.48%
  );
  --grey-background: rgba(0, 0, 0, 0.10);

  // spacers
  --spacer: 48px;
  --edge-spacer: 245px;
  --med-edge-spacer: 100px;
  --small-edge-spacer: 25px;

  --navbar-height: 42px;
  --footer-height: 42px;
  --navbar-spacer-desktop: 70px;
  --navbar-spacer-tablet: 47px;
  --navbar-spacer-mobile: 23px;
}

h1,
h2,
h3,
h4,
p,
.p-small,
.p-details {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  font-weight: 400;

  @include mixins.tablet {
    font-size: 6rem;
  }

  @include mixins.phone {
    font-size: 4.5rem;
  }

  @include mixins.sm-phone {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3.875rem;
}

h3 {
  font-size: 3.25rem;
}

h4 {
  font-size: 2.625rem;
}

p {
  font-size: 2rem;
  font-weight: 400;
}

.p-small {
  font-size: 1.5rem;
  font-weight: 400;

  @include mixins.sm-phone {
    font-size: 1.2rem;
  }
}

.p-details {
  font-size: 1.125rem;
  font-weight: 400;

  @include mixins.sm-phone {
    font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: 10px;
  background: var(--include-purple);
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--text-white);
  padding: 20px 50px;

  @include mixins.phone {
    font-size: 1.5rem;
  }
}
