@use "src/styles/mixins";

.navbar_wrapper {
  width: 100%;
  height: var(--navbar-height);
  position: absolute;
  top: var(--navbar-spacer-desktop);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 10000;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 2 * var(--edge-spacer) * 0.7);
    height: 100%;

    .navbar_right {
      display: flex;
      justify-content: center;
      align-items: center;

      .redirects {
        display: flex;
        justify-content: center;
        align-items: center;

        >li {
          list-style-type: none;
          padding: 0 10px;

          >a {
            text-decoration: none;
          }
        }
      }

      .dropdown {
        display: none;
        background: none;
        border: none;
        font-size: 1.5rem;
        padding: 0;
      }
    }
  }

  @include mixins.tablet {
    top: var(--navbar-spacer-tablet);

    .navbar {
      width: calc(100% - 2 * var(--edge-spacer) * 0.3);
    }
  }

  @include mixins.phone {
    .navbar {
      width: calc(100% - 2 * var(--edge-spacer) * 0.2);
    }
  }

  @include mixins.sm-phone {
    top: var(--navbar-spacer-mobile);

    .navbar {
      width: calc(100% - 2 * var(--edge-spacer) * 0.1);
      position: relative;

      .navbar_right {
        .redirects {
          --webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
          position: absolute;
          width: calc(100% + 2 * var(--edge-spacer) * 0.1);
          height: calc(100vh - var(--navbar-height) - 2 * var(--navbar-spacer-mobile));
          left: calc(var(--edge-spacer) * -0.1);
          top: calc(var(--navbar-height) + var(--navbar-spacer-mobile));
          z-index: 3;

          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          // max-height: 0;
          transform: translateX(-100%);
          transition: transform 0.75s ease-in-out;
          overflow: hidden;

          >li {
            width: 100%;
            margin-left: calc(var(--edge-spacer) * 0.1);
            transition: transform 0.8s ease-in-out 0.3s;
            transform: translateX(-100%);

            >a {
              >span {
                font-size: 1.5rem;
                opacity: 0;
                transition: opacity 0.8s ease-in-out;
              }

              .fadeInText {
                opacity: 1;
              }
            }
          }

          .slideText {
            transform: translateX(0);
          }
        }

        .activeDropdown {
          // max-height: calc(100vh - var(--navbar-height) - 2 * var(--navbar-spacer-mobile));
          transform: translateX(0);
        }

        .dropdown {
          display: flex;
        }
      }
    }
  }
}

.light {
  color: var(--text-white);
}

.dark {
  color: var(--include-purple);
}