@use "src/styles/mixins";

.avatar {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 235px;

  .avatar_info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    text-align: left;
  }
}
