.faqbox{
    width: 100%;

    .faq {
        width: 50%;
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        p {
            font-weight: 700;
        }
    }    
}
