  
.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  
    padding: 30px;
    max-width: 583px;
    height: auto;
    justify-content: space-around;
  
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.header{
    font-size: 24px;
    color: var(--text-white);
    font-size: 24px;
    font-weight: 400;
    margin-top: 16px;
}

.date{
    font-size: 18px;
    color: var(--text-grey);

}
  
.site{
    margin-bottom: 32px;
}
.desc{
    color: var(--text-white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}
  
.dot{
color: #0ACF83;
}
.button {
    color: var(--text-white);
    background: rgba(255, 255, 255, 0.10);
    border-color: transparent;
    border-radius: 100px;
  
    font-size: 18px;
  
    padding: 20px 40px;
    margin-top: auto;
}