@use 'src/styles/mixins';

.homepage {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background: var(--purple-gradient);
    justify-content: space-between;
    overflow: hidden;
    width: 100%;

    @include mixins.tablet {
        min-width: 100%;
        margin: 0;
    }
}

.main_content {
    color: var(--text-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    height: auto;
    padding: 0 24px;
    padding-top: 174px;

    @include mixins.tablet {
        gap: 0px;
        padding-top: 72px;
    }
}

.images {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

    >img {
        width: 400px;
        height: 200px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 80%, transparent 98%);
        border-radius: 20px;
        object-fit: cover;

    }

    @include mixins.tablet {
        display: none;
    }
}

.title {
    >h1 {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @include mixins.tablet {
            display: inline-block;
            transform: rotate(315deg);
            margin-bottom: -40px;
        }
    }
}

.diagonal {
    display: flex;
    max-width: 706px;
    height: 100%;
    flex-direction: column;

    @include mixins.tablet {
        font-size: 5rem;
        transform: rotate(45deg);
        padding-bottom: 36px;
    }

    @include mixins.sm-phone {
        font-size: 3.25rem;
    }
}

.mobile {
    display: none;

    @include mixins.tablet {
        display: flex;
        width: 70%;
        height: auto;
        margin-bottom: 32px;
        border-radius: 20px;
    }

    @include mixins.phone {
        width: 100%;
    }

}

.description {
    font-size: 1.5rem;
    max-width: 706px;
    text-align: center;

    @include mixins.tablet {
        font-size: 1.125rem;
        margin-bottom: 131px;
    }

}

.join {
    font-size: 2rem;
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid var(--White, #FFF);
    backdrop-filter: blur(2px);
    background: none;
    color: var(--text-white);
    margin-bottom: 250px;

    @include mixins.tablet {
        display: none;
    }
}

.footer {
    color: var(--text-white);
    text-align: center;

    >p {
        padding: 0 24px;
    }


    @include mixins.tablet {
        margin-top: 100px;
        text-align: left;
    }
}