@use 'src/styles/mixins';

.container {
    >h1 {
        font-size: 80px;

        @include mixins.tablet {
            font-size: 60px;
        }

        @include mixins.phone {
            font-size: 40px;
        }
    }
}
.homepage{
    display: flex;
    flex-direction: column;
    background: var(--purple-gradient);
    justify-content: space-between;
    width: 1728px;
    height: 1457px;
}

.images{
    display: inline-flex;
    justify-content: center;
    gap: 50px; 
    width: 1361px;
    height: 224px;
    border-radius: 0px 0px 50px 50px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 10%, transparent 90%);

    @include mixins.phone {
        display: none;
    }
}

.main_content{
    color: var(--text-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
}

.title {
    @include mixins.phone {
        display: inline-block;
        padding-top: 200px;
        padding-left: 60px;
        padding-bottom: 0;
        transform: rotate(45deg); //causes too big of a "gap"
        
    }
}
  
.diagonal {
    @include mixins.phone {
        font-size: 40px;
        display: inline-block;
        transform: rotate(-45deg);
    }
}

.description{
    font-size: 24px;
    width: 706px;
    margin: auto;
}

.join{
    font-size: 32px;
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid var(--White, #FFF);
    backdrop-filter: blur(2px);
    background: none;
    color: var(--text-white);

}

.footer{
    color: var(--text-white);
    text-align: center;
}
