@use 'src/styles/mixins';

.container {
    >h1 {
        font-size: 80px;

        @include mixins.tablet {
            font-size: 60px;
        }

        @include mixins.phone {
            font-size: 40px;
        }
    }
}
.homepage{
    display: flex;
    flex-direction: column;
    background: var(--purple-gradient);
    justify-content: space-between;
    max-height: 1457px; 
    overflow: hidden;
}

.images{
    display: flex;
    justify-content: center;
    gap: 50px;     
    //flex-wrap: wrap;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 10%, transparent 90%);

    @include mixins.phone {
        display: none;
    }
}
.picture{
    width: 27%;  
    max-width: 400px;
    max-height: 200px;
}

.main_content{
    color: var(--text-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    width: 100%;
    height: auto;
}

.title {
    width: 100%;
    height: auto;
    @include mixins.phone {
        display: inline-block;
        padding-top: 200px;
        padding-left: 60px;
        padding-bottom: 0;
        transform: rotate(45deg); //causes too big of a "gap"
    }
}
  
.diagonal {
    display: inline-flex;
    max-width: 706px;
    @include mixins.phone {
        font-size: 40px;
        display: inline-block;
        transform: rotate(-45deg);
    }
}

.description{
    font-size: 24px;
    max-width: 706px;
    text-align: center;
}

.join{
    font-size: 32px;
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid var(--White, #FFF);
    backdrop-filter: blur(2px);
    background: none;
    color: var(--text-white);
    margin-bottom: 250px;
}

.footer{
    color: var(--text-white);
    text-align: center;
}

