@use 'src/styles/mixins';


.parent{
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--purple-gradient);
    margin: auto; 
    margin-top: 0%;

    @include mixins.phone {
    }

}

.mission{
    transform: translateY(-80%);

    >h2{
        max-width: 1000px;
        margin-bottom: 32px;

        @include mixins.phone {
            font-size: 46px;
        }
    }
}

.mission_img{
    max-width: 824px;
    max-height: 412px;
    width: 90%;
    margin-bottom: -15vh;

}