@use 'src/styles/mixins';
// HEADER //
.header {
  position: relative;
  padding: 200px var(--edge-spacer);
  overflow: hidden;
}

.meshLeft {
  position: absolute;
  left: 0;
  top: 100px;
  transform: rotate(-15deg) translateX(-10%);
  filter: blur(7px);
}

.meshRight {
  position: absolute;
  right: 0;
  top: 450px;
  transform: rotate(15deg) translateX(10%);
  filter: blur(7px);
}

.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0px auto;
}

.hook, .button {
  color: var(--include-purple);
  text-align: center;
}

.numberText, .recruitmentInfo {
  color: var(--text-black-light);
}

.button {
  background-color: transparent;
  border: 1px solid var(--include-purple);
  border-radius: 10px;

  font-size: 1.5rem;
  padding: 15px 50px;
  margin-top: 36px;
  margin-bottom: 200px;
}


.numberText {
  text-align: center;
}

.recruitmentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 217px;
}

.recruitmentText {
  display: flex;
  flex-direction: column;
}
.recruitmentInfo {
  max-width: 650px;
  padding: 20px 0px;
}
// HEADER //


//NUMBER SCROLL//
.numContainer {
  background: var(--purple-gradient);
  display: flex;
  justify-content: center;
  column-gap: 50px;

  padding: 50px;
  border-radius: 20px;
  margin: 50px auto 200px;
  justify-self: center;
  max-width: 1200px;
}

.numContainer > div {
  color: var(--text-grey);
}

.card {
  border: 0.5px solid #FFF;
  border-radius: 8px;
  padding: 20px;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.numBox {
  display: flex;
  align-items: center;
}

.numBox > p {
  font-weight: 700;
  font-size: 5.313rem;
}
//NUMBER SCROLL //

//OPPORTUNITIES//
.oporrtunityTitle {
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;

  column-gap: 30px;
  margin-top: 64px;
}

.opportunityContainer {
  background: var(--purple-gradient);
  padding: 200px var(--edge-spacer);
}
//OPPORTUNITIES//
//FOOTER//
.mainFooter {
  background: var(--purple-gradient);
  padding: 150px var(--edge-spacer);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.question, .btn {
  color: var(--text-white);
  text-align: center;
}
.small_text {
  color: var(--text-grey);
  text-align: center;
  margin-top: 12px;
}
.btn {
  background-color: transparent;
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--font-inter);

  border: 1px solid var(--text-white);
  border-radius: 10px;

  padding: 20px 50px;
  margin-top: 64px;
}

// FOOTER ^^^ //
.whiteBg {
  padding-top: 300px;
  position: relative;
}
.purpleBg, .innerCircle, .line {
  background: var(--purple-gradient);
}

.description {
  color: var(--text-white);
  padding: 92px 340px 450px;
  text-align: center;
}
.textGradient {
  background: linear-gradient(73deg, #89CAFF -22.81%, #97C3BD 17.31%, #FFFBA4 56.6%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.line {
  width: 2px;
  height: 232px;
}
.innerCircle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  
}
.outerCircle {
  width: 50px;
  height: 50px;
  border: 2px solid var(--include-purple);
  border-radius: 100%;
  box-shadow: 0px 0px 75px 0px rgba(60, 37, 126, 0.60);

  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bulletPoints {
  padding: 250px;
  display: flex;
  column-gap: 50px;
  justify-content: center;
}
.leftPoints {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.pointTwo {
  align-self: center;
  text-align: left;
}
.pointOne, .pointThree {
  text-align: right;
}
.pointOne, .pointTwo, .pointThree {
  width: 500px;
}

.groupImg {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);


}

