@use 'src/styles/mixins';

.numContainer {
  background: var(--purple-gradient);
  display: flex;
  justify-content: center;
  align-self: center;
  column-gap: 30px;

  padding: 50px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 200px;

  width: 1000px;

  @include mixins.tablet {
    flex-direction: column;
    row-gap: 50px;
    width: 600px;
  }

  @include mixins.phone{
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 100px;
    width: auto;
    }

}

.numContainer > div {
  color: var(--text-grey);
}

.card {
  border: 0.5px solid #FFF;
  border-radius: 8px;
  min-width: 207px;
  padding: 15px;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numBox {
  display: flex;
  align-items: center;
}

.numBox > p {
  font-weight: 700;
  font-size: 5.313rem;
}
.animatedNum {
  font-size: 5.313rem;
  font-weight: 700;
}