@use 'src/styles/mixins';

.numContainer {
  background: var(--purple-gradient);
  display: flex;
  justify-content: center;
  column-gap: 35px;

  padding: 50px;
  border-radius: 20px;
  margin: 50px auto 200px;
  justify-self: center;
  max-width: 1200px;

  @include mixins.phone{
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 100px;
  }
  @include mixins.tablet {
    flex-direction: column;
    row-gap: 50px;
  }
}

.numContainer > div {
  color: var(--text-grey);
}

.card {
  border: 0.5px solid #FFF;
  border-radius: 8px;
  padding: 15px;

  flex: 1 ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numBox {
  display: flex;
  align-items: center;
}

.numBox > p {
  font-weight: 700;
  font-size: 5.313rem;
}
.animatedNum {
  font-size: 5.313rem;
  font-weight: 700;
}