@use 'src/styles/mixins';

.cardContainer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  border: 0.5px solid #FFF;
  border-radius: 20px;

  padding: 30px;
  max-width: 380px;

  display: flex;
  flex-direction: column;
  row-gap: 40px;

  @include mixins.phone {
    >h4 {
    font-size: 1.95rem;
  }
  >p {
    font-size: 1.5rem;
  }
  }
}

.header, .button {
  color: var(--text-white);
}

.p {
  color: var(--text-grey);
}

.button {
  background: rgba(0, 0, 0, 0.10);
  border-color: transparent;
  border-radius: 100px;

  font-size: 1.15rem;

  padding: 20px 40px;
  margin-top: auto;
}