@use "src/styles/mixins";

.website_img {
  height: 100%;
  object-fit: contain;
  border-radius: 14.16px;
  aspect-ratio: 16/9;

  @include mixins.sm-phone {
    max-width: 390px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  position: relative;
  text-align: center;

  .intro,
  .purpose,
  .board,
  .future {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    width: 100%;
    padding-top: 250px;
    padding-bottom: 250px;

    @include mixins.tablet {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    @include mixins.phone {
      padding-top: 150px;
      padding-bottom: 150px;
    }

    @include mixins.sm-phone {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .intro {
    gap: 250px;
    padding-top: 298px;

    >h2 {
      color: #414141;
    }

    .blur {
      width: var(--edge-spacer);
    }

    .header,
    .desc {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .header {
      width: 100%;
      gap: 159px;

      .header_text_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 2 * var(--edge-spacer));
        max-width: 1200px;

        .header_text {
          display: inline-block;
          line-height: 110%;
          padding-bottom: 2%;

          background: var(--purple-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .websites_slider {
        position: relative;
        width: 100%;

        .red_blur {
          position: absolute;
          top: 0;
          width: 90%;
          height: 50%;
          background-color: #FF7676;
          filter: blur(162px);
        }

        .slider_container {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 100%;

          .transparent_mask {
            height: 100%;
            mask-image: linear-gradient(to right,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0));
            -webkit-mask-image: -webkit-gradient(linear,
                left 50%,
                left bottom,
                from(rgba(0, 0, 0, 1)),
                to(rgba(0, 0, 0, 0)));
          }
        }
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      gap: 42px;
      width: calc(100% - 2 * var(--edge-spacer));
      max-width: 1200px;
    }

    @include mixins.tablet {
      gap: 150px;

      .header {
        gap: 100px;

        .header_text_container {
          width: calc(100% - 2 * var(--edge-spacer) * 0.3);
        }
      }

      .desc {
        width: calc(100% - 2 * var(--edge-spacer) * 0.3);
      }
    }

    @include mixins.phone {
      gap: 100px;

      .header {
        gap: 75px;

        .header_text_container {
          width: calc(100% - 2 * var(--edge-spacer) * 0.2);
        }
      }

      .desc {
        width: calc(100% - 2 * var(--edge-spacer) * 0.2);
      }
    }

    @include mixins.sm-phone {
      gap: 75px;
      padding-top: 88px;

      .header {
        gap: 50px;

        .header_text_container {
          width: calc(100% - 2 * var(--edge-spacer) * 0.1);
        }

        .websites_slider {
          .slider_container {
            .red_blur {
              top: 25%;
            }
          }
        }
      }

      .desc {
        width: calc(100% - 2 * var(--edge-spacer) * 0.1);
      }
    }
  }

  .purpose {
    background: var(--purple-gradient);
    text-align: center;

    .outline {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: calc(100% - 2 * var(--edge-spacer));
      max-width: 1200px;
      gap: 250px;

      >div {
        >h2 {
          color: var(--text-white);
          line-height: 112.903%;

          .gradient_text {
            display: inline-block;

            background: var(--gradient-variation,
                linear-gradient(46deg, #89caff 0%, #97c3bd 50.52%, #fffba4 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    @include mixins.tablet {
      .outline {
        width: calc(100% - 2 * var(--edge-spacer) * 0.3);
        gap: 200px;
      }
    }

    @include mixins.phone {
      .outline {
        width: calc(100% - 2 * var(--edge-spacer) * 0.2);
        gap: 150px;
      }
    }

    @include mixins.sm-phone {
      .outline {
        width: calc(100% - 2 * var(--edge-spacer) * 0.1);
        gap: 100px;
      }
    }
  }

  .board {
    gap: 66px;

    .board_text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .board_members {
      display: grid;
      width: calc(100% - 2 * var(--edge-spacer));
      max-width: 1200px;
      grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
      justify-items: center;

      gap: 42px 0;
    }

    @include mixins.tablet {
      gap: 42px;

      .board_members {
        width: calc(100% - 2 * var(--edge-spacer) * 0.3);
      }
    }

    @include mixins.phone {
      gap: 25px;

      .board_members {
        width: calc(100% - 2 * var(--edge-spacer) * 0.2);
      }
    }

    @include mixins.sm-phone {
      .board_members {
        width: calc(100% - 2 * var(--edge-spacer) * 0.1);
      }
    }
  }

  .future {
    background: var(--purple-gradient);
    padding-bottom: 250px;

    .future_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      width: calc(100% - 2 * var(--edge-spacer));
      max-width: 1200px;
      text-align: center;
      color: var(--text-white);
    }

    .company_slider {
      margin: 0;
      width: 100%;
    }

    @include mixins.tablet {
      .future_text {
        width: calc(100% - 2 * var(--edge-spacer) * 0.3);
      }
    }

    @include mixins.phone {
      .future_text {
        width: calc(100% - 2 * var(--edge-spacer) * 0.2);
      }
    }

    @include mixins.sm-phone {
      padding-bottom: 150px;

      .future_text {
        width: calc(100% - 2 * var(--edge-spacer) * 0.1);
      }
    }
  }
}