@use "src/styles/mixins";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  position: relative;
  text-align: center;

  .intro,
  .purpose,
  .board,
  .future {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    width: 100%;
    padding: 250px 0;

    @include mixins.tablet {
      padding: 200px 0;
    }

    @include mixins.md-phone {
      padding: 150px 0;
    }

    @include mixins.sm-phone {
      padding: 100px 0;
    }
  }

  .intro {
    gap: 250px;

    > h2 {
      color: #414141;
    }

    .header,
    .desc {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .header {
      width: 100%;
      gap: 159px;

      .header_text_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 2 * var(--edge-spacer) * 0.7);

        .header_text {
          display: inline-block;
          line-height: 98%;
          padding-bottom: 2%;

          background: var(--purple-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .websites_slider {
        position: relative;
        width: 100%;

        .slider_container {
          height: 100%;

          .transparent_mask {
            height: 100%;
            mask-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0)
            );
            -webkit-mask-image: -webkit-gradient(
              linear,
              left 50%,
              left bottom,
              from(rgba(0, 0, 0, 1)),
              to(rgba(0, 0, 0, 0))
            );
          }
        }
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      gap: 42px;
      width: calc(100% - 2 * var(--edge-spacer) * 0.7);
    }

    @include mixins.tablet {
      gap: 150px;

      .header {
        gap: 100px;

        .header_text_container {
          width: calc(100% - 2 * var(--edge-spacer) * 0.5);
          > h1 {
            font-size: 5rem;
          }
        }
      }

      .desc {
        width: calc(100% - 2 * var(--edge-spacer) * 0.5);
        gap: 25px;

        > h2 {
          font-size: 3rem;
        }
      }
    }

    @include mixins.md-phone {
      gap: 100px;

      .header {
        gap: 50px;

        .header_text_container {
          width: calc(100% - 2 * var(--edge-spacer) * 0.3);
          > h1 {
            font-size: 3.75rem;
          }

          > p {
            font-size: 1.5rem;
          }
        }
      }

      .desc {
        width: calc(100% - 2 * var(--edge-spacer) * 0.3);
        gap: 25px;

        > h2 {
          font-size: 2rem;
        }
      }
    }

    @include mixins.sm-phone {
      gap: 50px;

      .header {
        gap: 25px;

        .header_text_container {
          width: calc(100% - 2 * var(--edge-spacer) * 0.2);
          > h1 {
            font-size: 3rem;
          }

          > p {
            font-size: 1rem;
          }
        }

        .websites_slider {
          .slider_container {
            aspect-ratio: 1.5;
          }
        }
      }

      .desc {
        width: calc(100% - 2 * var(--edge-spacer) * 0.2);
        gap: 25px;

        > h2 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .purpose {
    background: var(--purple-gradient);
    text-align: center;

    .outline {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: calc(100% - 2 * var(--edge-spacer) * 0.7);
      gap: 250px;

      > div {
        > h2 {
          color: var(--text-white);
          line-height: 112.903%;

          .gradient_text {
            display: inline-block;

            background: var(
              --gradient-variation,
              linear-gradient(46deg, #89caff 0%, #97c3bd 50.52%, #fffba4 100%)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    @include mixins.tablet {
      .outline {
        width: calc(100% - 2 * var(--edge-spacer) * 0.5);
        gap: 150px;
        > div {
          > h2 {
            font-size: 3rem;
          }
        }
      }
    }

    @include mixins.md-phone {
      .outline {
        width: calc(100% - 2 * var(--edge-spacer) * 0.3);
        gap: 100px;
        > div {
          > h2 {
            font-size: 2rem;
          }
        }
      }
    }

    @include mixins.sm-phone {
      .outline {
        width: calc(100% - 2 * var(--edge-spacer) * 0.2);
        gap: 50px;

        > div {
          > h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .board {
    gap: 66px;

    .board_text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .board_members {
      display: grid;
      width: calc(100% - 2 * var(--edge-spacer) * 0.7);
      grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
      align-items: center;
      justify-items: center;

      gap: 40px 24px;
    }

    @include mixins.tablet {
      gap: 42px;

      .board_text {
        > h1 {
          font-size: 5rem;
        }
      }

      .board_members {
        width: calc(100% - 2 * var(--edge-spacer) * 0.5);
        gap: 25px 25px;
      }
    }

    @include mixins.md-phone {
      gap: 25px;
      .board_text {
        > h1 {
          font-size: 3.75rem;
        }

        > p {
          font-size: 1.5rem;
        }
      }

      .board_members {
        width: calc(100% - 2 * var(--edge-spacer) * 0.3);
        gap: 25px 25px;
      }
    }

    @include mixins.sm-phone {
      gap: 25px;
      .board_text {
        > h1 {
          font-size: 3rem;
        }

        > p {
          font-size: 1rem;
        }
      }

      .board_members {
        width: calc(100% - 2 * var(--edge-spacer) * 0.2);
        gap: 25px 25px;
      }
    }
  }

  .future {
    background: var(--purple-gradient);

    .future_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      width: calc(100% - 2 * var(--edge-spacer) * 0.7);
      text-align: center;
      color: var(--text-white);
    }

    .company_slider {
      margin: 83px 0 0 0;
    }
    @include mixins.tablet {
      .future_text {
        width: calc(100% - 2 * var(--edge-spacer) * 0.5);
        > h1 {
          font-size: 5rem;
        }
      }

      .company_slider {
        margin: 50px 0 0 0;
      }
    }

    @include mixins.md-phone {
      .future_text {
        width: calc(100% - 2 * var(--edge-spacer) * 0.3);
        > h1 {
          font-size: 3.75rem;
        }

        > p {
          font-size: 1.5rem;
        }
      }

      .company_slider {
        margin: 30px 0 0 0;
      }
    }

    @include mixins.sm-phone {
      .future_text {
        width: calc(100% - 2 * var(--edge-spacer) * 0.2);
        > h1 {
          font-size: 3rem;
        }

        > p {
          font-size: 1rem;
        }
      }

      .company_slider {
        margin: 10px 0 0 0;
      }
    }
  }
}
